_default: &default
  adapter: mysql2
  host: localhost
  username: root
  password: admin
  pool: 5
  timeout: 5000

development:
  database: rumble_client_development
  <<: *default

test:
  database: rumble_client_test
  <<: *default

production:
  database: rumble_client_production
  <<: *default
